
  @media only screen and (max-width: 600px) {
    .cardText {
      display: none;
    }
    .card {
      width:100%;
    }
    .cardContainer {
      margin: 0;
    }
  }

  @media only screen and (min-width: 600px) {
    .cardText {
      width: 250px;
    }

    .cardContainer {
      margin: 5%;
    }
    .cardImage {
    color: rgb(0,0,0,0)
    }
  }