@media only screen and (max-width: 700px) {
    .hide {
      display: none;
      }
      .mainNav{height:250px;}
  }

  @media only screen and (min-width: 800px) {
    .hide {
      width:30%;
    }
    
  }

  @media only screen and (min-width: 700px) {
    .hide {
      padding-left: auto;
      width:50%;
    }
    .mainNav{height:550px;}
  }

  @media only screen and (max-width: 800px) {
    .earlyhide {
      display: none;
    }
  }

  .mainNav{
    background: url(/public/images/main.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }